body{
    background-color: rgba(189, 180, 180, 0.692);
    font-family: Arial, Helvetica, sans-serif;
          
}

.foto{
    border: 3px solid rgb(255, 255, 255);
    width: 250px;
    border-radius: 60%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px #503c3c;

}

h1{
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 100;
}

h2{
    color: rgba(8, 6, 71, 0.856);
    margin-top: 10px;
    font-style: italic;
    


}

p{
    color: rgb(0, 0, 0);
    text-align: justify;
    

}

ul{
    color: rgb(0, 0, 0);

}

.container{
    margin-left: 30px;
    margin-right: 50px;

}


.Atributos {    
    margin-left: 1050px;
    margin-top: -180px
    
    
}


.teste2{
    margin-left: 300px;
    margin-top: -140px;
}

